<!DOCTYPE html>
<html>
<head>
    <title>Lukreativ14 - Snake</title>

    <link rel="stylesheet" href="/css/font-awesome-4.1.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/pure.css" />
    <link rel="stylesheet" href="/css/controller.css" />
</head>
<body>

    <div id="wrapper">
        <div id="left" class="button">
            <i class="fa fa-caret-left fa-5x"></i>
        </div>

        <div id="right" class="button">
            <i class="fa fa-caret-right fa-5x"></i>
        </div>

        <div id="down" class="button">
            <i class="fa fa-caret-down fa-5x"></i>
        </div>

        <div id="up" class="button">
            <i class="fa fa-caret-up fa-5x"></i>
        </div>
    </div>

    <script type="text/javascript" src="/js/socket.io.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/controller.js"></script>
</body>
</html>
