<!DOCTYPE html>
<html>
<head>
    <title>Lukreativ14 - Snake</title>
</head>
<body>

    <canvas id="snake" height="500" width="500" style="background-color: lightgrey"></canvas>

    <button class="start">start</button>
    <button class="end">end</button>

    <script type="text/javascript" src="/js/socket.io.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/eventemitter.min.js"></script>
    <script type="text/javascript" src="/js/game.js"></script>
    <script type="text/javascript" src="/js/display.js"></script>
</body>
</html>
